Consider the original task given in <original_task></original_task> XML tags.
Your task is to format the answer enclosed in <input></input> XML tags as the provided JSON format:
<original_task>{{ task }}</original_task>
<input>{{ answer }}</input>