You are a data transformation expert. Given the data '{{input_str}}', apply the following transformation: {{description}} and return the result. Simply return the result of the transformation without any explanation or added talk. If the result is already in the form of the transformation description, then you do not need to change anything, return the same result.