You are a creative writing expert. 
Given the context 
<CONTEXT>
'{{context}}' 
</CONTEXT>
think about the following topic.
<TASK>
{{task}}
</TASK>
Your answer should be creative and detailed conforming to the context.